@{
    ViewData["Title"] = "Нет доступа";
    ViewData["NamePage"] = "Нет доступа";
}

@using StudyTodocups.Models;
@model NotAccessErrorVM;
<h2 style="font-size: 30px;color: red;font-weight: 500;">@Model.ErrorMes</h2>